/*Funcionalidad: La funcionalidad principal de este código es 
proporcionar un diseño visual cohesivo y atractivo para el inicio de sesión, 
mejorando la experiencia del usuario con colores/estilos claros y accesibles.  */
.login-container {
    background-color: #ffffff; 
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.input-group {
    margin: 10px 0;
}

label {
    color: #F87753; 
}

input {
    padding: 12px;
    border: 3px solid #FFE085; 
    border-radius: 10px;
    width: 80%;
}

button {
    background-color: #5884C4; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #D5507C; 
}
.logo {
    width: 300px; 
    height: auto;
    margin-bottom: 20px;
}
